<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Super Chat</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
        <div id="appContainer" class="flex-column">
                <header>
                    <div class="container flex-column flex-center">
                        <h1>Quick Chat</h1>
                        <p class="light-text">The easiest way to get your message across.</p>
                    </div>
                </header>
        
                <div id="mainContent" class="container flex-grow-1 flex-column ">
        
                    <section id="login">
                        <h2 class="text-center">Get Started</h2>
                        <form id="loginForm" class="flex mb-2">
                            <input type="text" name="username " id="usernameInput" placeholder="username" class="flex-grow-1">
                            <button id="loginBtn">Chat!</button>
                        </form>
                    </section>
        
                    <section id="chat" class="flex-grow-1 flex-column hidden">
                        <div id="messagesList" class="flex-grow-1">
                        </div>
                        <form id="messageForm" class="flex">
                            <input type="text" name="message" id="messageInput" class="flex-grow-1">
                            <button id="sendBtn">Send</button>
                        </form>
                    </section>
                </div>
            </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>>
    <script src="/js/main.js"></script>
</body>

</html>



<!-- <!DOCTYPE html> 
<html>

<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <title>Super Chat</title>
</head>

<body>
    <header class="header">
        <h1>Super Chat</h1>
    </header>

    <section class="content">
        <section id="usernameSection">
            <div id="change_username">
                <input id="username" type="text" placeholder="change your username here"/>
                <button id="send_username" type="button">change username</button>
            </div>
        </section>

        <section id="chatroom">
            <section id="feedback"></section>
        </section>

        <section id="input_zone">
            <input id="message" class="vertical-align" type="text" />
            <button id="send_message" class="vertical-align" type="button">Send</button>
        </section>
    </section> 

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>  -->